<h1>Feeds Index</h1>
<ul>
  <% collection.each(function(feed){ %>
    <% var feedId = feed.get('id'); %>
    <li>
      <a href="#/feeds/<%= feedId %>/entries" data-id="<%= feedId %>"><%= feed.get("title") %></a>
    </li>
  <% }); %>
</ul>